<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>App Logo</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Menu with Icon">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
      </ul>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item>
    Sign Up
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    Login
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    Admin Login
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    Favorites
  </button>
</mat-menu>
