<mat-nav-list>
  <h2 matSubheader> Pages</h2>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/themes-list">Themes </a>
  <a mat-list-item (click)= "onThemesUpdate()" >(Update Themes)</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/production_companies">Production Companies </a>
  <a mat-list-item (click)="onProductionCompaniesUpdate()">(Update Production Companies)</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/vendors">Vendors </a>
  <a mat-list-item (click)="onVendorsUpdate()">(Update Vendors)</a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="onAddAndEditGames()"> Add or Edit Games</a>
</mat-nav-list>

