<mat-nav-list>
  <!-- user profile card display if logged in-->
  <div class="profile_card">
    <div class="header">
      <h4>User</h4>
    </div>
    <img src="https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3-1200-80.jpg" alt="user profile picture" />
  </div><!--end of user profile card-->
  <mat-divider></mat-divider>
  <h2 matSubheader> Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/themes">Themes </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/production_companies">Production Companies </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/vendors">Vendors </a>

</mat-nav-list>

